/*
===============
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}
/*
===============
ESTILOS GLOBALES
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-primary-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

.header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*
===============
FORMULARIO ESTUDIANTE
===============
 */

.footer-container {
    width: 100%;
    height: 4rem;
    padding: 0.5rem 18px;
    border-top: 1px solid #dbdbdb;
    background-color: #fafafa;
    position: fixed;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    color: #0db8de;
    text-decoration: none;
}
.footer-link:hover {
    color: #00a7d1;
}

.footer-user {
    font-family: 'Pacifico', cursive;
}

.footer-text {
    font-style: italic;
}

.form-wrapper {
    height: 100%;
    width: 100%;
    background: var(--clr-grey-10);
    padding: 90px 40px 0 40px;
   /* border-radius: 5px;*/
   /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
}

.form-wrapper-admin {
    height: 100%;
    width: 100%;
    padding: 90px 40px 0 40px;
    background: var(--clr-grey-10);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title-form {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    text-align: center;
    color: var(--clr-grey-2);
    margin-bottom: 1rem;
}

.diner-icon {
    font-size: 40px;
    font-weight: bold;
    color: var(--clr-grey-2);
    margin-bottom: 10px;
}

.form-control-label {
    font-size: 14px;
    color: #6c6c6c;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-student {
    margin-top: 25px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    background-color: var(--clr-primary-9);
    border: none;
    border-radius: 7px;
    border-top: 0px;
    font-weight: bold;
    outline: 0;
    padding: 10px 7px 10px 7px;
    margin-bottom: 20px;
    color: #6c6c6c;
    width: 100%;
}

.form-control:focus {
    border-color: #0db8de;
}

.error-student_code {
    color: #ff5b5b;
    font-size: 12px;
}

.loginbttm {
    display: flex;
    justify-content: flex-end;
}

.btn-outline-primary {
    background-color:#0db8de;
    border: none;
    color: #ffff;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 20px;
}

.btn-outline-primary:hover {
    background-color: #00a7d1;
    color: #ffff;
}

.login-button {
    width: 100%;
}
.btn {
    width: 100%;
}


@media screen and (min-width: 768px) {
    .form-wrapper {
        height: 60%;
        width: 40%;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .form-wrapper-admin {
        height: 60%;
        width: 40%;
    }

    .header-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-form {
        font-size: 24px;
        font-weight: bold;
        color: var(--clr-grey-2);
        margin-bottom: 40px;
    }

    .diner-icon {
        font-size: 24px;
    }


}



/*
===============
NAVBAR
===============
 */

.navbar-wrapper {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.toggle-hamburger {
    display: block;
    color: var(--clr-grey-2);
    font-size: 1.9rem;
    transition: all 0.3s linear;
}
.toggle-button {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
    width: 160px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.toggle-first-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0db8de;
    border: none;
    color: #ffff;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.toggle-second-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0db8de;
    border: none;
    color: #ffff;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.toggle-first-button:hover {
    background-color: #00a7d1;
    color: #ecf0f5;
}

.toggle-second-button:hover {
    background-color: #00a7d1;
    color: #ecf0f5;
}


/*
===============
SIDEBAR
===============
 */

.links-container {
    overflow: hidden;
    transition: all 0.15s linear;
}

.links-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    padding: 1rem 1.5rem;
    color: var(--clr-grey-2);
    font-weight: bolder;
}

.links-item:first-child {
    border-radius: 5px;
    margin: 0 20px;
    background: #0db8de;
    color: var(--clr-grey-2);
}

.links-item:hover {
    border-radius: 5px;
    margin-left: 25px;
    background: #0db8de;
    color: var(--clr-grey-2);
}
.links-item svg {
    font-size: 1.5rem;
    color: var(--clr-grey-2);
    margin-right: 1rem;
}
.links a:hover svg {
    color: #ffff;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--clr-primary-9);
}
.icon-hamburger {
    display: block;
    color: var(--clr-grey-2);
    font-size: 1.9rem;
    transition: all 0.3s linear;
}
.icon-admin {
    font-size: 1.9rem;
    color: var(--clr-grey-2);
}
.header-icons-admin {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-hamburger:hover {
    transform: rotate(60deg);
}


@media screen and (min-width: 768px) {

    .sidebar {
        padding: 30px 20px 0 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 22rem;
        height: 100%;
        background: var(--clr-primary-9);
        display: grid;
        grid-template-rows: auto 1fr auto;
        row-gap: 1rem;

    }
    .icon-admin {
        font-size: 3rem;
    }
    .icon-hamburger {
        display: none;
    }
    .header-icons-admin {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}





/*
===============
LISTAR COMENSALES
===============
 */

.items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
}

.student-items {
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
}

.student-icon {
    color: var(--clr-grey-8);
    font-size: 30px;
    margin-left: 5px;
    margin-right: 20px;
}

.student-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.student-name {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.student-code,
.student-career {
    margin: 0;
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .items-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 25%;
        background-color: #EBF7FF;
        padding: 20px;
    }
    .student-items {
        margin: 10px;
        padding: 10px;
    }

    .student-icon {
        margin-left: 20px;
    }

    .student-data {
    }

    .student-name {
        font-size: 18px;
    }

    .student-code,
    .student-career {
        margin: 0;
        font-size: 14px;
    }
}

/*
===============
VENTANA
===============
 */

.ventana-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.ventana {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinear header, mensaje y footer */
    background-color: #D8E4F1;
    width: 80%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #CBDCF1;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cerrar-btn {
    /*background: none;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
    /*font-size: 20px;*/
    /*color: #333;*/
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mensaje {
    padding: 20px;
    text-align: center;
}

.modal-footer {
    background-color: #CBDCF1;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.button-modal {
    background-color:#0db8de;
    border: none;
    color: #ffff;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 20px;
}

.button-modal {
    background-color: #00a7d1;
    color: #ffff;
}

@media screen and (min-width: 768px) {

    .ventana {
        width: 30%;
        height: 30%;
    }

    .cerrar-btn {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: #333;
    }

}









