* {
  padding: 0;
  margin: 0;
}

body {
  background: #222d32;
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
